{% extends 'base.html.twig' %}

{% block body %}

        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if path %}
                    <img src="{{ path }}" />
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>

{% endblock %}