app:
    resource: '@BacklogBundle/Controller/'
    type: annotation

backlog:
    type: rest
    prefix: /api
    # zeby działal jako service to tu musi być taka nazwa jak w services.yml
    # tak naprawde to nie jest nazwa klasy tylko serwisu z services.yml
    resource: BacklogBundle\Controller\BacklogRestController

api_login_check:
    path: /api/login_check

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
