{% extends 'base.html.twig' %}

{%  block body %}

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name:</th>

                    </tr>
                    <tr></tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                <a href="{{ path('sprint_show', {'id': item.id}) }}" >Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>


{% endblock %}
